language: ruby

rvm:
  - 2.0.0
  - 2.1.0
  - 2.2.0
bundler_args: --without production doc development
# before_install:
#   - gem update --system 2.0.0 
#   - gem --version
notifications:
  email: false